<h1>会員のレシピ一覧(Index)：他のユーザを含む投稿一覧画面</h1>
<h1>投稿一覧</h1>

<!--<#% if @recipe.errors.any? %>-->
<!--  <#%= @recipe.errors.count %>件のエラーが発生しました-->
<!--  <ul>-->
<!--    <#% @recipe.errors.full_messages.each do |message| %>-->
<!--      <li><#%= message %></li>-->
<!--    <#% end %>-->
<!--  </ul>-->
<!--<#% end %>-->

<!--<p id="notice"></p>-->

<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-10 offset-md-1">
      <h2>投稿一覧</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <th>画像</th>
            <th>レシピ名</th>
            <th>ジャンル</th>
            <th>説明</th>
            <th>価格</th>
            <th>評価</th>
            <th colspan="3"></th>
          </thead>

          <% @recipes.each do |recipe| %>
            <tr>
              <th>
                <% if recipe.post_image.attached? %>
                  <%= link_to public_recipe_path(recipe) do %>
                    <%= image_tag recipe.post_image, size: "100x100" %>
                  <% end %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
              </th>
              <th>
                <%= link_to public_recipe_path(recipe) do %>
                  <%= recipe.title %>
                <% end %>
              </th>
              <th></th>
              <th><%= recipe.body %></th>
              <th></th>
              <th></th>
              <th><%= link_to "#{recipe.comments.count} コメント" %></th>
              <th><%= render "static_rate", recipe: recipe %></th>
            </tr>
          <% end %>

        </table>
    </div>
  </div>
</div>


