<!--<#% if @recipe.errors.any? %>-->
<!--  <#%= @recipe.errors.count %>件のエラーが発生しました-->
<!--  <ul>-->
<!--    <#% @recipe.errors.full_messages.each do |message| %>-->
<!--      <li><#%= message %></li>-->
<!--    <#% end %>-->
<!--  </ul>-->
<!--<#% end %>-->

<!--<p id="notice"></p>-->
<div class="container col-xl-8 col-lg-9 my-4 px-sm-1">
  <div class="px-1 ml-md-2">
    <h5 class="bg-light text-center ml-5 mb-4" style="max-width: 300px;">みんなのレシピ一覧(新着順)</h5>
  </div>
  <div class="mx-auto col-10">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="bg-light"></th>
            <th class="bg-light">画像</th>
            <th class="bg-light">タイトル</th>
            <th class="bg-light">ジャンル</th>
            <th class="bg-light">投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>

                <% if recipe.is_deleted %>
                  <!--#レシピの前に「削除済み」と表示-->
                  <td>削除済み</td>
                  <% if recipe.post_image.attached? %>
                    <%= link_to admin_recipe_path(recipe) do %>
                      <td><%= image_tag recipe.post_image, size: "100x100" %></td>
                    <% end %>
                  <% else %>
                    <td><%= image_tag 'no_image', size: "100x100" %></td>
                  <% end %>
                  <td>
                    <%= link_to admin_recipe_path(recipe) do %>
                      <%= recipe.title %>
                    <% end %>
                  </td>
                  <td><%= recipe.genre.name %></td>
                  <td>by <%= link_to recipe.user.name, admin_user_path(recipe.user) %></td>
                <% else %>
                  <td></td>
                <!--#もともとの記述のまま表示-->
                  <% if recipe.post_image.attached? %>
                    <%= link_to admin_recipe_path(recipe) do %>
                      <td><%= image_tag recipe.post_image, size: "100x100" %></td>
                    <% end %>
                  <% else %>
                    <td><%= image_tag 'no_image', size: "100x100" %></td>
                  <% end %>
                  <td>
                    <%= link_to admin_recipe_path(recipe) do %>
                      <%= recipe.title %>
                    <% end %>
                  </td>
                  <td><%= recipe.genre.name %></td>
                  <td>by <%= link_to recipe.user.name, admin_user_path(recipe.user) %></td>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



