<!--<%# if @recipe.errors.any? %>-->
<!--  <%#= @recipe.errors.count %>件のエラーが発生しました-->
<!--  <ul>-->
<!--    <%#= message %></li>-->
<!--  </ul>-->
<!--<%# end %>-->

<%= flash[:notice] %>
<div class="container col-xl-11 col-lg-9 my-4 px-sm-1">
  <div class="col-md-10 offset-md-1">
    <h3 class="bg-light" style="width: 300px;">みんなのレシピ一覧</h3>
    <!--#ransack検索フォーム-->
    <%= search_form_for @q, url: public_recipes_path do |f| %>
      <!--#検索キーワードとなるtitle_or_body：このrecipeモデルにあるtitle,body(カラム名)で記載している。
     _cont：検索対象の属性に部分文字列が含まれているかどうかをチェックするために使用している。
      また、検索キーワードとなるuser_name：userモデルにあるname(カラム名)で記載している-->
    <div class="d-flex justify-content-between">
      <div class="form-group" style="width: 70%;">
        <!-- キーワード検索フォーム -->
        <%= f.search_field :title_or_body_or_user_name_cont, class: 'form-control', placeholder: 'レシピ名/ジャンル名/ユーザー名で検索' %>
      </div>
      <div class="form-group" style="max-width: 200px;">
        <!-- プルダウン形式の価格帯検索フォーム -->
        <%= f.collection_select(:price_range_id_eq, PriceRange.all, :id, :name, { include_blank: '選択しない' }, class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.submit '検索', class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
    
    <!--#並べ替え 新着順/いいね順-->
    <%= link_to '新着順', public_recipes_path(latest: "true") %>/
    <%= link_to '人気順', public_recipes_path(most_favorited: "true") %>
    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="bg-light">
            <th></th>
            <th>画像</th>
            <th>タイトル</th>
            <th>ジャンル</th>
            <th>投稿者</th>
            <th>材料費の価格帯</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
            <% if recipe.is_deleted == false %>
              <td></td>
              <td>
                <% if recipe.post_image.attached? %>
                  <%= link_to public_recipe_path(recipe) do %>
                    <%= image_tag recipe.post_image, size: "100x100" %>
                  <% end %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
              </td>
              <td>
                <%= link_to public_recipe_path(recipe) do %>
                  <%= recipe.title %>
                <% end %>
              </td>
              <!--#ジャンル名の記載-->
              <td><%= recipe.genre.name %></td>
              <!--#投稿者名の記載-->
              <td>by <%= link_to recipe.user.name, recipes_public_user_path(recipe.user) %></td>
              <!--#価格帯の記載-->
              <td><%= recipe.price_range.name %></td>
              <!--#投稿日時の記載-->
              <td><%= recipe.created_at.strftime('%Y/%m/%d') %></td>
              <!--♯いいね機能の実装    -->
              <td>
                <% if recipe.favorited_by?(current_user) %>
                  <p>
                    <%= link_to public_recipe_favorites_path(recipe), method: :delete do %>
                      ♥<%= recipe.favorites.count %>
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to public_recipe_favorites_path(recipe), method: :post do %>
                      ♡<%= recipe.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              </td>
            <% else %>
              <td class="text-muted">管理者によって投稿が削除されました</td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
