<h1>レシピ詳細</h1>

<div class='col-md-10 offset-md-1'>
    <table class='table'>
    <tr>

       <td> <% if @recipe.post_image.attached? %>
              <%= link_to public_recipe_path(@recipe) do %>
                <%= image_tag @recipe.post_image, size: "100x100" %>
              <% end %>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            <% end %>
        </td>
        <td><%= link_to @recipe.user.name, public_user_path(@recipe.user) %></td>
        <td><%= @recipe.title %></td>
        <!--#ジャンル名の記載-->
        <td><%= @recipe.genre.name %></td>
        <td><%= @recipe.body %></td>
        <td></td>
        <td></td>
        <td>
        <!--♯いいね機能の実装    -->
        <% if @recipe.favorited_by?(current_user) %>
          <p>
            <%= link_to public_recipe_favorites_path(@recipe), method: :delete do %>
              ♥<%= @recipe.favorites.count %> 作ってみたい！
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to public_recipe_favorites_path(@recipe), method: :post do %>
              ♡<%= @recipe.favorites.count %> 作ってみたい！
            <% end %>
          </p>
        <% end %>
        </td>
        
        <td><%= link_to "#{@recipe.comments.count} コメント" %></td>
        <!--<td>-->
        <!--<#% if @recipe.category.present? %>-->
        <!--<#%=link_to @recipe.category,tagsearches_search_path(content: @recipe.category)%>-->
        <!--<#% end %>-->
        <!--</td>-->


        <!--<td>-->
        <!--<#%= link_to recipe_path(@recipe.id), class:"comments-count" do %>-->
        <!--<#%= "コメント数: #{@recipe.comments.count}" %>-->
        <!--<#% end %>-->
        <!--</td>-->

        <!--<td><#%= render 'static.rate', recipe: @recipe %>-->
        <!--</td>-->
   
            <td>
              <!--# コメントの投稿フォーム-->
              <%= form_with model: [@recipe, @comment] , url: public_recipe_comments_path(@recipe), method: :post do |f| %>
                <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
              <% end %>
            
            
            <!--#コメント内容の表示-->
            
              <% @recipe.comments.each do |comment| %>
                <!--#下記に記載のcomment.commentは、各コメントオブジェクトに対するコメントを意味している-->
                <%= comment.comment %>
                by <%= comment.user.name %>
                <%#= @comment.created_at.strftime('%Y/%m/%d') %>
                
                <!--#コメント削除：コメントしたものがログインユーザーのものであれば削除ボタンを表示して、削除できるように設定-->
                <% if comment.user == current_user %>
                  <%= link_to "削除", public_recipe_comment_path(comment.recipe, comment), method: :delete %>
                <% end %>
              <% end %>
            </td> 
        </td>  
        
        <!--#編集ボタン-->
        <td>
           <% if @recipe.user == current_user %>
           <%= link_to 'レシピ編集', edit_public_recipe_path(@recipe), class: "btn btn-sm btn-success" %>
           <% end %>
        </td>

        <!--♯削除ボタン    -->
        <td>
           <% if @recipe.user == current_user %>
           <%= link_to 'レシピ削除', public_recipe_path(@recipe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
           <% end %>
        </td>
            
    </tr>

       <!-- <div class="lists">-->
       <!--   %= render "comments/lists", Recipe: @recipe %>-->
      　<!--</div>-->

  　<!--</table>-->
  　<!-- <div class="lists">-->
   <!--   <#%= render "comments/lists", recipe: @recipe %>-->
  　<!--</div>-->

            <!--#コメント部分の部分テンプレート化し、本のshowページからrenderさせる。-->
   <!--       <#%= render "comments/comment", recipe: @recipe, comment: @comment %>-->

            <!--#remote true追記することで、非同期通信になる-->
            <!--<#%= form_with(model:[@recipe, @comment], remote: true) do |f| %>-->
            <!--<#%= f.text_area :comment, rows: '5', placeholder: "", class:"form-control" %>-->
            <!--<#%= f.submit "送信" %>-->
            <!--<#% end %>-->

   <!-- </div>-->
