<% if @recipe.present? && @user.is_deleted == false %>
  <div class="container col-xl-12 col-lg-9 my-4 px-sm-1">
    <div class="col-md-10 offset-md-1">
      <div class="px-1 ml-md-2 d-flex justify-content-between">
        <div>
          <h3 class="bg-light text-center mb-6" style="max-width: 400px;">レシピ詳細</h3>
        </div>
        <div>
          <% if @recipe.user == current_user %>
            <%= link_to 'レシピ編集', edit_public_recipe_path(@recipe), class: "btn btn-sm btn-success mr-2" %>
            <%= link_to 'レシピ削除', public_user_recipe_path(@recipe.user, @recipe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <!-- タイトルと画像の投稿 -->
            <tr>
              <td class="col-md-4 text-center">
                <h4 class="mt-2"><%= @recipe.title %></h4>
                <% if @recipe.post_image.attached? %>
                  <%= link_to public_recipe_path(@recipe) do %>
                    <%= image_tag @recipe.post_image, size: "300x300" %>
                  <% end %>
                  
                  <!--#Google Vision API -->
                  <div class="tag-box">
                  <% @recipe.tags.each do |tag| %>
                    <span class="label"><%= tag.name %></span>
                  <% end %>
                  </div>
                  
                <% else %>
                  <!-- 画像が存在しない場合は何も表示しない -->
                <% end %>
              </td>

              <!-- 説明 -->
              <td class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#descriptionModal">
                  <!--#simple_formatメソッドを使用して改行を反映させる-->
                  <%= simple_format(truncate(@recipe.body, length: 50, omission: '...')) %>
                </a>

                <style>
                  .recipe-info {
                    margin-bottom: 10px;
                  }
                </style>

                <!--#投稿者-->
                <div class="recipe-info">
                  by <%= link_to @recipe.user.name, recipes_public_user_path(@recipe.user) %>
                </div>
                <!--#材料費-->
                <div class="recipe-info">
                  <h6>材料費/人：<%= @recipe.price_range.name %></h6>
                </div>
                <!--#いいね機能の実装-->
                <!--#非同期通信化/renderで呼び出している。-->
                <div id="recipe_favorite-btn_<%= @recipe.id %>"><%= render "public/favorites/favorite-btn", recipe: @recipe %></div>
                <div>
                <% if @recipe.bookmarked_by?(current_user) %>
                  <%= link_to "ブックマークを外す", public_recipe_bookmarks_path(@recipe), method: :delete, class: 'btn btn-danger btn-bookmark' %>
                <% else %>
                  <%= link_to "ブックマーク", public_recipe_bookmarks_path(@recipe), method: :post, class: 'btn btn-primary btn-bookmark' %>
                <% end %>
                </div>

                <!-- 説明内容のモーダルウィンドウ -->
                <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel">レシピ詳細</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_format(@recipe.body) %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

              <!-- 材料と分量の表示 -->
              <td class="col-md-4">
                <div class="form-group">
                  <h5>材料と分量</h5>
                  <div class="ingredients-quantities-container">
                    <% @recipe.ingredients.each do |item| %>
                      <%= content_tag(:div, class: "ingredient-and-quantity row") do %>
                        <div class="col text-left">
                          <%= item[:name] %>
                        </div>
                        <div class="col text-right">
                          <%= item[:quantity] %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>

            <!-- 作り方の表示 -->
            <tr>
              <td class="col-md-12" colspan="3">
                <div class="form-group col-md-12">
                  <h5>作り方</h5>
                  <div class="row steps-container">
                    <% @recipe.steps.each_with_index do |step, index| %>
                      <div class="col-md-2">
                        <%= content_tag(:div, class: "step") do %>
                          <div class="step-image">
                            <% if step.step_image.attached? %>
                              <%= image_tag step.step_image, size: "100x100" %>
                              
                              <!--#Google Vision API -->
                              <div class="tag-box">
                              <% @recipe.tags.each do |tag| %>
                                <span class="label"><%= tag.name %></span>
                              <% end %>
                              </div>
                              
                            <% else %>
                              <!-- 画像が存在しない場合は何も表示しない -->
                            <% end %>
                            <div class="step-number">
                              <strong><%= index + 1 %></strong>
                            </div>
                          </div>
                          <div class="step-description">
                            <%= simple_format(step.description) %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>

            <!-- コメント -->
            <tr>
              <td class="col-md-12" colspan="3">
                <!--#publishedで現在有効であるユーザーのコメントを表示。またis_deleted: falseで管理者によって削除されたコメントは件数に含まないように設定-->
                <% published_comments_count = @recipe.comments.where(is_deleted: false).count - @comment_user_delete_count %>
                <%= link_to "#{published_comments_count} 件のコメントをすべて見る", "#commentModal", data: { toggle: "modal" } %>

                <!-- コメント一覧のモーダルウィンドウ -->
                <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="commentModalLabel">コメント一覧</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <% @recipe.comments.each do |comment| %>
                          <div class="row">
                            <!--#会員ステータスが有効且つ管理者によってコメントが削除されていない場合-->
                            <% if comment.user.is_deleted == false && comment.is_deleted == false %>
                              <div class="col-8" style="margin-top: 20px">
                                <%= simple_format(comment.comment) %>
                              </div>
                              <div class="col-4" style="margin-top: 20px">
                                by <%= link_to comment.user.name, recipes_public_user_path(comment.user) %><br>
                                <% if comment.user == current_user %>
                                  <%= link_to "削除", public_recipe_comment_path(comment.recipe, comment), method: :delete, data: { confirm: '本当に消しますか？' } %>
                                <% end %>
                              </div>
                            <!--#会員ステータスが有効且つ管理者によってコメントが削除された場合-->
                            <% elsif comment.user.is_deleted == false && comment.is_deleted == true %>
                              <div class="col-12" style="margin-top: 20px">
                                <p class="text-muted">管理者によってコメントが削除されました</p>
                              </div>
                            <!--#会員ステータスが退会済みの場合-->
                            <% elsif comment.user.is_deleted= true && comment.is_deleted == false %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="w-50">
                  <%= form_with model: [@recipe, @comment], url: public_recipe_comments_path(@recipe), method: :post do |f| %>
                    <!-- コメントの投稿フォーム -->
                    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
                    <!-- エラーメッセージ -->
                    <% if @comment.errors.any? %>
                      <%= @comment.errors.count %>件のエラーが発生しました
                      <ul>
                        <% @comment.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    <% end %>
                    <!-- コメント送信ボタン -->
                    <%= f.submit "送信する", class: 'btn btn-danger btn-comment mt-2' %>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
    <h3 class="text-center">レシピはありません</h3>
  </div>
<% end %>
