<header>
  <!--#Bootstrap上で特定の色を指定できるように、下記にbg-testというクラス名を作成している-->
  <!--/cooking_recipes/app/javascript/stylesheets/application.scssにbackground-colorを指定している-->
  <nav class="navbar navbar-expand-md navbar-dark bg-test">
    <div class="logo_area">
      <!--#下記の'sample_logo.jpg'の箇所を、実際に使用するロゴ画像の名前に置き換える-->
      <a class="navbar-brand"><%= image_tag 'sample_logo.jpg', class: "logo" %></a>
    </div>
   
  <!--#ユーザーログイン時 -->
  <% if user_signed_in? %>
  　<i class="fa-regular fa-sliders"></i>
  　<i class="fa-solid fa-user"></i>
  　<li>
      ようこそ<%= current_user %>さん！
    </li>
  　<li>
      <%= link_to "新規投稿", new_public_recipe_path %>
    </li>
    <li>
      <%= link_to "全ての投稿を見る", public_recipes_path %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
    <li>
      <%= link_to "退会", public_users_check_path %>
    </li>
  <!--管理者ログイン時-->
  <% elsif admin_signed_in? %>
    <li>
      ようこそ管理者さん！
    </li>
  　<li>
      <%= link_to "会員の情報一覧", admin_users_path %>
    </li>
    <li>
      <%= link_to "会員のレシピ一覧", admin_recipes_path %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </li>
  <!--♯登録時-->
  <% else %>
  <i class="fa-regular fa-sliders"></i>
  　<i class="fa-solid fa-user"></i>
    <li>
      <%= link_to "新規登録", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
    <li>
      <%= link_to "ゲストログイン", new_user_session_path %>
    </li>
  <% end %>
  </nav>
</header>